<div class="to-center">
    <div class="settings">
        <form class="telegram" id="set" method="post">
            <div class="telegram-container">
                <label for="inp-telegram">Telegram</label>
                <input type="text" name="tel" id="inp-telegram">
            </div>
        </form>
        <div class="currancy" >
            <div class="currancy-container">
                <span>Choose currancy</span>
                <select id="select-currancy" name="cur" form="set">
                    <option>RUB</option>
                    <option>USD</option>
                    <option>EUR</option>
                </select>
            </div>
        </div>
        <button id="setts-btn" type="submit">send</button>
    </div>
</div>
  <script src="../js/profile.js"></script>
